{% extends 'indigo/base-admin.html' %}

{% block head_title %}Funds{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Funds</li>
      </ol>
    </nav>
{% endblock %}

{% block content %}

    {% if datas %}
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Fund Name</th>
                <th>&nbsp;</th>
            </tr>
            {% for fund in datas %}
                <tr>
                    <td><a href="{% url 'indigo_admin_fund_index' public_id=fund.public_id %}">{{ fund.public_id }}</a></td>
                    <td>{{ fund.cached_data.name.value }}</td>
                    <td><a href="{% url 'indigo_admin_fund_index' public_id=fund.public_id %}" class="btn btn-primary">View</a></td>

                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No funds are available.</p>
    {% endif %}

    <p><a href="{% url 'indigo_admin_fund_download_blank_form' %}" class="btn btn-primary">Download Blank Form</a></p>
    <p><a href="{% url 'indigo_admin_fund_new' %}" class="btn btn-primary">New Fund</a></p>

{% endblock %}
