{% extends 'indigo/base-admin.html' %}

{% block head_title %}Welcome{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Admin</li>
      </ol>
    </nav>
{% endblock %}

{% block content %}

<p>Welcome</p>

<p><a href="{% url 'indigo_admin_project_list' %}" class="btn btn-primary">Projects</a></p>
<p><a href="{% url 'indigo_admin_organisation_list' %}" class="btn btn-primary">Organisations</a></p>
<p><a href="{% url 'indigo_admin_fund_list' %}" class="btn btn-primary">Funds</a></p>
<p><a href="{% url 'indigo_admin_pipeline_list' %}" class="btn btn-primary">Pipelines</a></p>
<p><a href="{% url 'indigo_admin_assessment_resource_list' %}" class="btn btn-primary">Assessment Resources</a></p>
<p><a href="{% url 'indigo_admin_sandbox_list' %}" class="btn btn-primary">Sandboxes</a></p>
<p><a href="{% url 'indigo_admin_to_moderate' %}" class="btn btn-primary">To Moderate</a></p>

{% endblock %}
