{% extends 'indigo/base-admin.html' %}


{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Admin</li>
      </ol>
    </nav>
{% endblock %}

{% block content %}

<p>Welcome</p>

<p><a href="{% url 'indigo_admin_project_list' %}" class="btn btn-primary">Projects</a></p>
<p><a href="{% url 'indigo_admin_organisation_list' %}" class="btn btn-primary">Organisations</a></p>
<p><a href="{% url 'indigo_admin_fund_list' %}" class="btn btn-primary">Funds</a></p>

{% endblock %}
