{% extends 'indigo/base-admin.html' %}

{% block head_title %}Organisations{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Organisations</li>
      </ol>
    </nav>
{% endblock %}

{% block content %}


    <div>
        <form action="{% url 'indigo_admin_organisation_search' %}" method="get">
            <label>Search: <input type="text" name="search" value="{{ search_term }}"></label>
            <input type="submit" value="Search"  class="btn btn-primary">
        </form>
    </div>

    <div>
        <form action="{% url 'indigo_admin_organisation_goto' %}" method="post">
            {% csrf_token %}
            <label>Go to Organisation: <input type="text" name="goto" value="INDIGO-ORG-"></label>
            <input type="submit" value="Go" class="btn btn-primary">
        </form>
    </div>

    <p><a href="{% url 'indigo_admin_organisation_search' %}" class="btn btn-primary">List / Search</a></p>
    <p><a href="{% url 'indigo_admin_organisation_download_blank_form' %}" class="btn btn-primary">Download Blank Form</a></p>
    <p><a href="{% url 'indigo_admin_organisation_download_all_csv' %}" class="btn btn-primary">Download all as CSV</a></p>
    <p><a href="{% url 'indigo_admin_organisation_new' %}" class="btn btn-primary">New Organisation</a></p>

{% endblock %}
