{% extends 'indigo/base-admin.html' %}


{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Organisations</li>
      </ol>
    </nav>
{% endblock %}

{% block content %}

    {% if organisations %}
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Organisation Name</th>
                <th>&nbsp;</th>
            </tr>
            {% for organisation in organisations %}
                <tr>
                    <td><a href="{% url 'indigo_admin_organisation_index' public_id=organisation.public_id %}">{{ organisation.public_id }}</a></td>
                    <td>{{ organisation.cached_data.name.value }}</td>
                    <td><a href="{% url 'indigo_admin_organisation_index' public_id=organisation.public_id %}" class="btn btn-primary">View</a></td>

                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No organisations are available.</p>
    {% endif %}

    <p><a href="{% url 'indigo_admin_organisation_download_blank_form' %}" class="btn btn-primary">Download Blank Form</a></p>
    <p><a href="{% url 'indigo_admin_organisation_new' %}" class="btn btn-primary">New Organisation</a></p>

{% endblock %}
