{% extends 'indigo/base-admin.html' %}

{% block head_title %}Project {{ project.public_id }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_project_list' %}">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data Quality Report</li>
      </ol>
    </nav>
{% endblock %}

{% block content %}

    <p>Project Data Quality Report</p>

    <ul>
        {% for i in '0123'|make_list %}
            <li>
                <a href="{% url 'indigo_admin_all_projects_data_quality_list_projects_by_priority_highest' priority=i %}" class="btn btn-primary">Projects by count of priority {{ i }} issues</a>
            </li>
        {% endfor %}
        {% for field_single in fields_single %}
            <li>
                <a href="{% url 'indigo_admin_all_projects_data_quality_report_field_single' %}?field={{ field_single.key|urlencode:"" }}" class="btn btn-primary">{{ field_single.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
