{% extends 'indigo/base-admin.html' %}

{% block head_title %}Projects{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Projects</li>
      </ol>
    </nav>
{% endblock %}

{% block content %}

    {% if projects %}
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Project Name</th>
                <th>&nbsp;</th>
            </tr>
            {% for project in projects %}
                <tr>
                    <td><a href="{% url 'indigo_admin_project_index' public_id=project.public_id %}">{{ project.public_id }}</a></td>
                    <td>{{ project.cached_data.name.value }}</td>
                    <td><a href="{% url 'indigo_admin_project_index' public_id=project.public_id %}" class="btn btn-primary">View</a></td>

                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No projects are available.</p>
    {% endif %}

    <p><a href="{% url 'indigo_admin_project_download_blank_form' %}" class="btn btn-primary">Download Blank Form</a></p>
    <p><a href="{% url 'indigo_admin_project_new' %}" class="btn btn-primary">New Project</a></p>

{% endblock %}
