Django<4
psycopg2
django-environ
-e git+https://github.com/OpenDataServices/json-data-ferret.git@v0.3.0#egg=jsondataferret
gunicorn
django-heroku
compiletojsonschema
sentry-sdk
# Upgrading to Celery 5 involves changing our config, so hold off on that for now.
celery==4.4.*
django-storages[boto3]
