Django<5
psycopg2
django-environ
jsondataferret==0.7.0
gunicorn
django-heroku
compiletojsonschema
sentry-sdk
# Locked to 5.2 as they promise to "break things" in future releases https://docs.celeryq.dev/en/stable/history/whatsnew-5.1.html#preface
celery==5.2.*
django-storages[boto3]
spreadsheetforms>=0.5.0
django-jsonforms==1.1.2
