Django
psycopg2
django-environ
-e git+https://github.com/OpenDataServices/json-data-ferret.git@v0.2.0#egg=jsondataferret
gunicorn
django-heroku
compiletojsonschema
sentry-sdk
celery
django-storages[boto3]
