{% extends 'indigo/base-admin.html' %}

{% block head_title %}New Assessment Resource{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_assessment_resource_list' %}">Assessment Resources</a></li>
        <li class="breadcrumb-item active" aria-current="page">New</li>
      </ol>
    </nav>
{% endblock %}


{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Create" class="btn btn-primary">
    </form>

{% endblock %}
