{% extends 'indigo/base.html' %}

{% block head_title %}Assessment Resources{% endblock %}

{% block content %}

    {% if datas %}
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>&nbsp;</th>
            </tr>
            {% for assessment_resource in datas %}
                <tr>
                    <td><a href="{% url 'indigo_assessment_resource_index' public_id=assessment_resource.public_id %}">{{ assessment_resource.public_id }}</a></td>
                    <td>{{ assessment_resource.data_public.name.value }}</td>
                    <td><a href="{% url 'indigo_assessment_resource_index' public_id=assessment_resource.public_id %}" class="btn btn-primary">View</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No assessment resources are available.</p>
    {% endif %}


{% endblock %}
