{% extends 'indigo/base.html' %}

{% block head_title %}Joining Up Initiatives{% endblock %}

{% block content %}

    <h2 class="my-5">Joining Up Initiatives</h2>

    {% if datas %}
        <table class="table border-bottom">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>&nbsp;</th>
            </tr>
            {% for item in datas %}
                <tr>
                    <td><a href="{% url 'indigo_joining_up_initiative_index' public_id=item.public_id %}">{{ item.public_id }}</a></td>
                    <td>{{ item.data_public.name.value }}</td>
                    <td><a href="{% url 'indigo_joining_up_initiative_index' public_id=item.public_id %}" class="btn btn-primary">View</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Joining Up Initiatives are available.</p>
    {% endif %}


{% endblock %}
