{% extends 'indigo/base.html' %}

{% block head_title %}Projects{% endblock %}

{% block content %}

    {% if projects %}
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>&nbsp;</th>
            </tr>
            {% for project in projects %}
                <tr>
                    <td><a href="{% url 'indigo_project_index' public_id=project.public_id %}">{{ project.public_id }}</a></td>
                    <td>{{ project.data_public.name.value }}</td>
                    <td><a href="{% url 'indigo_project_index' public_id=project.public_id %}" class="btn btn-primary">View</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No projects are available.</p>
    {% endif %}

    <p><a href="{% url 'indigo_project_list_download' %}" class="btn btn-primary">Download List (All)</a></p>
    <p><a href="{% url 'indigo_project_list_download_social_investment_prototype' %}" class="btn btn-primary">Download List (Social Investment Prototype)</a></p>
    <p><a href="{% url 'indigo_project_download_blank_form' %}" class="btn btn-primary">Download Blank Form</a></p>
    <p><a href="{% url 'indigo_project_download_data_quality_report' %}" class="btn btn-primary">Download Data Quality Report</a></p>

{% endblock %}
