
        <table class="table">
            <tr>
                <th>Type</th>
                <th>Location</th>
                <th>Details</th>
            </tr>
            {% for error in errors %}
                {% if error.get_type == 'value_not_in_enum_list' %}
                    <tr>
                        <td>Value not a valid option</td>
                        <td>{{ error.get_path }}</td>
                        <td>
                            Current value: {{ error.get_value }}<p>
                            {% if error.get_value_options|length < 10 %}
                                Options are: {{ error.get_value_options|join:", "  }}
                            {% else %}
                                For example, some options are: {{ error.get_value_options|slice:"0:10"|join:", "  }}
                            {% endif %}
                        </td>
                    </tr>
                {% elif error.get_type == 'value_not_correct_pattern' %}
                    <tr>
                        <td>Value not correct format</td>
                        <td>{{ error.get_path }}</td>
                        <td>
                            Current value: {{ error.get_value }}<p>
                            {{ error.get_pattern_hint }}
                        </td>
                    </tr>
                {% elif error.get_type == 'value_not_a_number' %}
                    <tr>
                        <td>Value not a number</td>
                        <td>{{ error.get_path }}</td>
                        <td>
                            Current value: {{ error.get_value }}
                        </td>
                    </tr>
                {% elif error.get_type == 'value_not_set' %}
                    <tr>
                        <td>Value not set!</td>
                        <td>{{ error.get_path }}</td>
                        <td></td>
                    </tr>
                {% elif error.get_type == 'array_has_too_few_items' %}
                    <tr>
                        <td>List needs more items</td>
                        <td>{{ error.get_path }}</td>
                        <td></td>
                    </tr>
                {% elif error.get_type == 'source_id_used_that_is_not_in_sources_table' %}
                    <tr>
                        <td>Source Id used that is not in sources table</td>
                        <td>-</td>
                        <td>Id: {{ error.get_value }}</td>
                    </tr>
                {% elif error.get_type == 'source_id_not_used' %}
                    <tr>
                        <td>Source Id is not used anywhere</td>
                        <td>-</td>
                        <td>Id: {{ error.get_value }}</td>
                    </tr>
                {% elif error.get_type == 'organisation_id_does_not_exist' %}
                    <tr>
                        <td>Organisation Id does not exist</td>
                        <td>-</td>
                        <td>Id: {{ error.get_value }}</td>
                    </tr>
                {% elif error.get_type == 'fund_id_does_not_exist' %}
                    <tr>
                        <td>Fund Id does not exist</td>
                        <td>-</td>
                        <td>Id: {{ error.get_value }}</td>
                    </tr>
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan="3">
                        There are no issues.
                    </td>
                </tr>
            {% endfor %}
        </table>
