{% extends 'indigo/base-admin.html' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_project_list' %}">Projects</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_project_index' public_id=record.public_id  %}">Project {{ record.public_id }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">History</li>
      </ol>
    </nav>
{% endblock %}




{% block content %}

    <h2>History</h2>

    {% if events %}
        <table class="table">
            <tr>
                <th>At</th>
                <th>By</th>
                <th>Comment</th>
                <th>&nbsp;</th>
            </tr>
            {% for event in events %}
                <tr>
                    <td>{{ event.created }}</td>
                    <td>{{ event.user }}</td>
                    <td>{{ event.comment|linebreaks }}</td>
                    <td><a href="{% url 'indigo_admin_event_index' event_id=event.public_id %}" class="btn btn-primary">View</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No events are available.</p>
    {% endif %}

{% endblock %}
