{% extends 'indigo/base-admin.html' %}


{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_project_list' %}">Projects</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_project_index' public_id=record.public_id  %}">Project {{ record.public_id }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Import</li>
      </ol>
    </nav>
{% endblock %}


{% block content %}


  {% if source_ids_used_that_are_not_in_sources_table %}
    <h3>Problems: Some sources ID's were used that are not in the sources table</h3>
    <ul>
      {% for data in source_ids_used_that_are_not_in_sources_table %}
        <li>{{ data.source_id }}</li>
      {% endfor %}
    </ul>
  {% endif %}


  {% if source_table_entries_that_are_not_used %}
    <h3>Warning: Some sources table entries are not used</h3>
    <ul>
      {% for data in source_table_entries_that_are_not_used %}
        <li>{{ data.source_id }}</li>
      {% endfor %}
    </ul>
  {% endif %}


  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>

{% endblock %}
