{% extends 'indigo/base-admin.html' %}

{% block head_title %}Import Project {{ record.public_id }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_project_list' %}">Projects</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_project_index' public_id=record.public_id  %}">Project {{ record.public_id }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Import</li>
      </ol>
    </nav>
{% endblock %}


{% block content %}


  {% if organisation_ids_that_do_not_exist %}
    <h3>Problems: Some organisation ID's were used that are not in the database</h3>
    <ul>
      {% for id in organisation_ids_that_do_not_exist %}
        <li>{{ id }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if fund_ids_that_do_not_exist %}
    <h3>Problems: Some fund ID's were used that are not in the database</h3>
    <ul>
      {% for id in fund_ids_that_do_not_exist %}
        <li>{{ id }}</li>
      {% endfor %}
    </ul>
  {% endif %}


  {% if level_zero_errors %}
    <h3>Warning: Some problems were found</h3>
    {% include 'indigo/admin/project/common_data_quality_report_show_data.html' with errors=level_zero_errors %}
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Import" class="btn btn-primary">
  </form>

{% endblock %}
