{% extends 'indigo/base-admin.html' %}

{% block head_title %}Import Project {{ record.public_id }}{% endblock %}

{% block head %}<meta http-equiv="refresh" content="5;url={% url 'indigo_admin_project_import_form_stage_2' public_id=record.public_id import_id=import.id %}" />{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_project_list' %}">Projects</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_project_index' public_id=record.public_id  %}">Project {{ record.public_id }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Import</li>
      </ol>
    </nav>
{% endblock %}


{% block content %}

    <div>We are processing your file, please wait ...</div>

{% endblock %}
