{% extends 'indigo/base-admin.html' %}

{% block head_title %}Project {{ project.public_id }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_project_list' %}">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Project {{ project.public_id }}</li>
      </ol>
    </nav>
{% endblock %}



{% block content %}

<p>Project {{ project.data_private.name.value }}</p>

<table class="table">
    <tr><th>ID</th><td>{{ project.public_id }}</td></tr>
    {% for field in field_data %}
        <tr><th>{{ field.title }}</th><td>{{ field.value }}</td></tr>
    {% endfor %}
</table>


{% if project.status_public %}
    <p><a href="{% url 'indigo_admin_project_make_private' public_id=project.public_id %}" class="btn btn-primary">Change to Private</a></p>
    <p><a href="{% url 'indigo_admin_project_make_disputed' public_id=project.public_id %}" class="btn btn-primary">Change to Disputed</a></p>
{% endif %}
<P><a href="{% url 'indigo_admin_project_download_form' public_id=project.public_id %}" class="btn btn-primary">Download Form</a></P>
<P><a href="{% url 'indigo_admin_project_import_form' public_id=project.public_id %}" class="btn btn-primary">Upload/Import Form</a></P>
<P><a href="{% url 'indigo_admin_project_moderate' public_id=project.public_id %}" class="btn btn-primary">Moderate</a></P>
<P><a href="{% url 'indigo_admin_project_history' public_id=project.public_id %}" class="btn btn-primary">History</a></P>

{% endblock %}
