{% extends 'indigo/base-admin.html' %}

{% block head_title %}Make Disputed Project {{ record.public_id }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_project_list' %}">Projects</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_project_index' public_id=record.public_id  %}">Project {{ record.public_id }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Make Disputed</li>
      </ol>
    </nav>
{% endblock %}


{% block content %}

    <h2>Make Disputed</h2>

    <p>This will make the WHOLE project disputed, and it will be removed from public listings</p>

      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
      </form>


{% endblock %}
