{% extends 'indigo/base-admin.html' %}

{% block head_title %}Make Private Project {{ record.public_id }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_project_list' %}">Projects</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_project_index' public_id=record.public_id  %}">Project {{ record.public_id }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Make Private</li>
      </ol>
    </nav>
{% endblock %}



{% block content %}

    <h2>Make Private</h2>

    <p>This will make the WHOLE project private</p>

      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>


{% endblock %}
