{% extends 'indigo/base-admin.html' %}

{% block head_title %}Organisation {{ organisation.public_id }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_organisation_list' %}">Organisations</a></li>
        <li class="breadcrumb-item active" aria-current="page">Organisation {{ organisation.public_id }}</li>
      </ol>
    </nav>
{% endblock %}



{% block content %}

<p>Organisation {{ organisation.data_private.name.value }}</p>

<table class="table">
    <tr><th>ID</th><td>{{ organisation.public_id }}</td></tr>
    {% for field in field_data %}
        <tr><th>{{ field.title }}</th><td>{{ field.value }}</td></tr>
    {% endfor %}
</table>

<P><a href="{% url 'indigo_admin_organisation_change_status' public_id=organisation.public_id %}" class="btn btn-primary">Change Status</a></P>
{% if perms.indigo.admin %}
<P><a href="{% url 'indigo_admin_organisation_projects' public_id=organisation.public_id %}" class="btn btn-primary">Projects Using This</a></P>
{% endif %}
<P>
    <a href="{% url 'indigo_admin_organisation_download_form' public_id=organisation.public_id %}" class="btn btn-primary">Download Form</a>
    You can delete any sheet/tab from this form (except the introduction one) and it will still work fine!
</p>
<P><a href="{% url 'indigo_admin_organisation_import_form' public_id=organisation.public_id %}" class="btn btn-primary">Upload/Import Form</a></P>
<P><a href="{% url 'indigo_admin_organisation_moderate' public_id=organisation.public_id %}" class="btn btn-primary">Moderate</a></P>
<P><a href="{% url 'indigo_admin_organisation_history' public_id=organisation.public_id %}" class="btn btn-primary">History</a></P>

{% endblock %}
