{% extends 'indigo/base.html' %}

{% block head_title %}Project {{ project.public_id }}{% endblock %}

{% block content %}

<p>Project {{ project.data_public.title }}</p>

<table class="table">
    <tr><th>ID</th><td>{{ project.public_id }}</td></tr>
    {% for field in field_data %}
        <tr><th>{{ field.title }}</th><td>{{ field.value }}</td></tr>
    {% endfor %}
</table>

<p><a href="{% url 'indigo_project_download_form' public_id=project.public_id %}" class="btn btn-primary">Download Form</a></p>

{% endblock %}
