{% extends 'indigo/base-admin.html' %}

{% block head_title %}Change Status of Pipeline {{ record.public_id }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_pipeline_list' %}">Pipelines</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_pipeline_index' public_id=record.public_id  %}">Pipeline {{ record.public_id }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Change Status</li>
      </ol>
    </nav>
{% endblock %}

{% block content %}

    <h2>Change Status</h2>

    <p>This will change the status of the WHOLE pipeline.</p>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Change Status" class="btn btn-primary">
    </form>

{% endblock %}
