{% extends 'indigo/base-admin.html' %}

{% block head_title %}Import Pipeline {{ record.public_id }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_pipeline_list' %}">Pipelines</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_pipeline_index' public_id=record.public_id  %}">Pipeline {{ record.public_id }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Import</li>
      </ol>
    </nav>
{% endblock %}


{% block content %}

    <div>That seems not to be a pipeline spreadsheet, and so we can not import that?</div>

{% endblock %}
