{% extends 'indigo/base-admin.html' %}

{% block head_title %}Import Pipeline {{ record.public_id }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_index' %}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_pipeline_list' %}">Pipelines</a></li>
        <li class="breadcrumb-item"><a href="{% url 'indigo_admin_pipeline_index' public_id=record.public_id  %}">Pipeline {{ record.public_id }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Import</li>
      </ol>
    </nav>
{% endblock %}


{% block content %}

  <h3>Import</h3>
  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Import" class="btn btn-primary">
  </form>

{% endblock %}
